<!DOCTYPE html>
<html>
  <head>
    <title>Pousadaria</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="page-title">
      <h1>Pousadaria</h1>
    </div>
    <nav>
      <%= link_to 'Seja um Pousadeiro', new_inn_owner_registration_path %>
      <% if inn_owner_signed_in? %>
        <%= current_inn_owner.email %>
      <% end %>
    </nav>

    <div id="flash-msgs">
      <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
  </body>
</html>
